<div class="profile-menu">
  <div class="profile-menu--content">
    <div class="profile-menu--content--exit">
      <a (click)="modalController.dismiss()">X</a>
    </div>
    <h3>Ajustes</h3>
    <div class="profile-menu--content--options">
      <a (click)="clickConfigList(profileSettingsEnum.EDIT_PROFILE)">
        Editar perfil
      </a>
      <a (click)="clickConfigList(profileSettingsEnum.EDIT_PROFILE_PICTURE)">
        Editar foto de perfil
      </a>
      <a (click)="clickConfigList(profileSettingsEnum.ABOUT_US)">
        Sobre nós
      </a>
      <a (click)="clickConfigList(profileSettingsEnum.EXIT)">
        Sair
      </a>
    </div>
  </div>
  <div class="profile-menu--logo">
    <img src="assets/images/LOGO.svg">
  </div>
</div>
