.background-modal {
  --background: transparent;
  //{@link https://forum.ionicframework.com/t/cannot-dismiss-a-modal-by-clicking-the-backdrop-ionic-6/221459}
  --height: 65vh;
}

.background-profile-modal {
  --background: #70707070;
  //{@link https://forum.ionicframework.com/t/cannot-dismiss-a-modal-by-clicking-the-backdrop-ionic-6/221459}
  --height: 100vh;
}
