.update-profile {
  width: 90vw;
  height: 65vh;
  border-radius: 1rem;
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(57 115 151) 26%, rgb(81 177 127) 70%);
  margin: auto;

  &--form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 1rem;
      font-weight: bold;
    }

    &--input {
      background: white;
      border: none;
      border-radius: 0.5rem;
      height: 2.3rem;
      color: black;
      padding-left: .5rem;
      outline: none;
    }
  }
}
